<!DOCTYPE html>
<html ng-app="doughnutApp">
<head>
  <meta charset="UTF-8">
  <title>Doughnut Control</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/doughnutsController.js" charset="utf-8"></script>
</head>
<body ng-controller="DoughnutController as donuts">
  <h1>Doughnut Mind Control</h1>
  <p>{{ donuts.name }}</p>

  <ul>
    <li ng-repeat="donut in donuts.all"><strong>{{ donut.style}} </strong><em> {{ donut.flavor }}</em></li>
  </ul>
  
  <form ng-submit="donuts.addDoughnuts()">

    <label for="donut-style">style:</label>
    <input type="text" name="donut-style" id="donut-style" ng-model="donuts.newDoughnut.style" placeholder="Classic-Stylee" >

    <label for="donut-flavor">flavor:</label>
    <input type="text" name="donut-flavor" id="donut-flavor" ng-model="donuts.newDoughnut.flavor" placeholder="Vanilla-Cheecake">
    
    <input type="submit" value="Add Doughnut">

  </form>







</body>
</html>